@using AddressBook.Models;
@using System.Collections.Generic;
@{
    List<Contact> list = Model;
    Layout = null;
}
<div class="row">
    @foreach (var item in list)
    {
        <div class="col-lg-4">
            <div class="card contact">
                <div class="card-header">
                    <h4><b>@item.Name</b> <i>@item.LastName</i></h4>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <div class="row">
                            <div class="col-md-9">
                                <table>
                                    <tr>
                                        <td>Phone:</td>
                                        <td>
                                            @foreach(var tVal in item.Phone) { 
                                                <div>@tVal</div>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>
                                            @foreach (var tVal in item.Email)
                                            {
                                                <div>@tVal</div>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Notes:</td>
                                        <td>@item.Notes</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-outline-primary btn-lg btn-block btn-edit-contact"  data-toggle="modal" data-target="#edit-contact" data-obj="@item.Id.ToString()">
                                    <i class="far fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-outline-secondary btn-lg btn-block btn-delete-contact" data-obj="@item.Id.ToString()">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    }
</div>